<div class="container">
  <div class="main">
    <input type="checkbox" id="checkbox">
    <div class="sign-up">
      <form action="/">
        <label for="checkbox">Rejestracja</label>
        <input type="text" name="text" placeholder="Nazwa użytkownika" required="">
        <input type="email" name="email" placeholder="E-mail" required="">
        <input type="password" name="password" placeholder="Hasło" required="">
        <input type="password" name="password" placeholder="Potwierdź hasło" required="">
        <button>Zarejestruj się!</button>
      </form>
    </div>
    <div class="login">
      <form action="/">
        <label for="checkbox">Mam konto</label>
        <input type="email" name="email" placeholder="Email lub nazwa użytkownika" required="">
        <input type="password" name="password" placeholder="Hasło" required="">
        <button>Zaloguj się</button>
        <p>TU BĘDZIE CAPTCHA</p>
      </form>
    </div>
  </div>
</div>
