<div class="container">
  <div class="main">
    <div class="login">
      <h1>Zaloguj się!</h1>
      <div class="inputs">
        <input type="email" [(ngModel)]="loginEmail" placeholder="Email lub nazwa użytkownika" required>
        <input type="password" [(ngModel)]="loginPassword" placeholder="Hasło" required>

        <!-- reCAPTCHA widget -->
        <re-captcha (resolved)="onCaptchaResolved($event)" [siteKey]="captchaSiteKey"></re-captcha>

        <button [disabled]="!captchaResponse" (click)="login()">Zaloguj się</button>
      </div>
    </div>

    <div class="sign-up">
      <h1>lub zarejestruj 😉</h1>
      <div class="inputs">
        <input type="text" [(ngModel)]="registerUsername" placeholder="Nazwa użytkownika" required>
        <input type="email" [(ngModel)]="registerEmail" placeholder="E-mail" required>
        <input type="password" [(ngModel)]="registerPassword" placeholder="Hasło" required>
        <input type="password" [(ngModel)]="registerConfirmPassword" placeholder="Potwierdź hasło" required>
        <button (click)="register()">Zarejestruj się!</button>
      </div>
    </div>
  </div>
</div>
