body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  font-family: "Oswald", sans-serif;
  overflow-x: hidden;
}

/* Section Styles */
.section-user.light-theme {
  height: 100vh;
  background: url("../../../assets/images/section-one-background.png") center/cover no-repeat;
  font-family: "Oswald", sans-serif;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-user.dark-theme {
  height: 100vh;
  background: url("../../../assets/images/bglight.png") center/cover no-repeat;
  font-family: "Oswald", sans-serif;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Content Container */
.dark-theme .content {
  width: 100%;
  height: 75vh;
  background-color: grey;
  gap: .1rem;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

.light-theme .content {
  width: 100%;
  height: 75vh;
  background-color: #2e2e2e;
  gap: .5rem;
  display: flex;
  border-radius: 7px;
  overflow: hidden;
}

/* Left Panel */
.dark-theme .user-info-left {
  width: 30%;
  background-color: lightgrey;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.light-theme .user-info-left {
  width: 30%;
  background-color: #222;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  padding: 2rem;
}

.dark-theme .user-info-left h1 {
  color: #2e2e2e;
}

.light-theme .user-info-left h1 {
  color: #fff;
}

.user-info-left img {
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.dark-theme .user-info-left span {
  color: #2e2e2e;
  font-size: 1.2rem;
  text-align: center;
}

.light-theme .user-info-left span {
  color: white;
  font-size: 1.2rem;
  text-align: center;
}

.section-user.dark-theme .user-info-left input {
  width: 80%;
  height: 2rem;
  background-color: white;
  color: #2e2e2e;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  padding: 0.5rem;
}

.section-user.light-theme .user-info-left input {
  width: 80%;
  height: 2rem;
  background-color: #3e3e3e;
  color: white;
  font-size: 1rem;
  border-radius: 7px;
  border: none;
  padding: 0.5rem;
}

/* Right Panel */
.section-user.dark-theme .user-info-right {
  width: 40%;
  background-color: lightgrey;
  padding: 2rem;
}

.section-user.light-theme .user-info-right {
  width: 40%;
  background-color: #222;
  padding: 2rem;
}

.section-user.dark-theme .user-info-right h1 {
  color: #2e2e2e;
}

.section-user.light-theme .user-info-right h1 {
  color: white;
}

/* Friends List */
.section-user.dark-theme .friends-list {
  border-radius: 7px;
  background-color: lightgrey;
  padding: 10px;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.section-user.light-theme .friends-list {
  border-radius: 7px;
  background-color: #222222;
  padding: 10px;
  height: 80%;
  max-height: 80%;
  overflow-y: auto;
}

.section-user.dark-theme .no-friends {
  font-size: 14px;
  color: #2e2e2e;
  text-align: center;
  padding: 20px;
}

.section-user.light-theme .no-friends {
  font-size: 14px;
  color: #888;
  text-align: center;
  padding: 20px;
}

.section-user.dark-theme .friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-user.light-theme .friend-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  background-color: #3e3e3e;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-user.dark-theme .friend-item span {
  color: #2e2e2e;
}

.section-user.light-theme .friend-item span {
  color: #fff;
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ddd;
  object-fit: cover;
}

.friend-info {
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.delete-friend {
  border: none;
  outline: none;
  padding: 1rem;
  background-color: darkred;
  border-radius: 7px;
  color: white;
  font-weight: inherit;
  transition: .2s all ease-in-out;
}

.delete-friend:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.friend-email {
  font-size: 12px;
  color: #777;
}

/* Search Results */
.section-user.dark-theme .search-results {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: -20px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 7px;
  background-color: lightgrey;
  padding: 10px;
  height: 50%;
}

.section-user.light-theme .search-results {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  margin-left: -20px;
  max-height: 80%;
  overflow-y: auto;
  border-radius: 7px;
  background-color: #222222;
  padding: 10px;
  height: 50%;
}

.section-user.dark-theme .search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.section-user.light-theme .search-item {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  margin-left: -25px;
  background-color: #3e3e3e;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}


.section-user.dark-theme .search-item span {
  color: #2e2e2e;
}

.section-user.light-theme .search-item span {
  color: #fff;
}

.search-item .friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.search-item .friend-info {
  flex: 1;
}

.search-item button {
  width: 40%;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: forestgreen;
  border-radius: 7px;
  color: white;
  font-weight: inherit;
  transition: .2s all ease-in-out;
}

.search-item button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.search-bar {
  display: flex;
  flex-direction: column;
  width: 97%;
  justify-content: space-between;
  align-items: center;
}

.section-user.dark-theme .search-bar h1 {
  color: #2e2e2e;
  font-size: 2rem;
}

.section-user.light-theme .search-bar h1 {
  color: #fff;
  font-size: 2rem;
}

.section-user.dark-theme .search-bar input {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: white;
  color: #2e2e2e;
}

.section-user.light-theme .search-bar input {
  width: 80%;
  height: 30px;
  padding-left: 10px;
  outline: none;
  border: none;
  border-radius: 7px;
  background-color: #3e3e3e;
  color: #fff;
}

.section-user.dark-theme .search-friend {
  width: 30%;
  background-color: lightgrey;
  padding: 2rem;
}

.section-user.light-theme .search-friend {
  width: 30%;
  background-color: #222;
  padding: 2rem;
}

.profile-picture-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.profile-picture-container button {
  width: 200px;
  border: none;
  outline: none;
  padding: 1rem;
  background-color: darkred;
  border-radius: 7px;
  color: white;
  font-weight: inherit;
  transition: .2s all ease-in-out;
}

.profile-picture-container button:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.section-user.dark-theme .no-results {
  margin-top: 20px;
}

.section-user.light-theme .no-results {
  color: #fff;
  margin-top: 20px;
}



