<div class="section-user">
  <div class="content">
    <div class="user-info-left">

      <h1>Twój profil</h1>

      <div class="profile-picture-container">
        <img
          src="assets/images/user.png"
          alt="Zdjęcie profilowe"
          class="profile-picture"
        >
        <input
          type="file"
          id="fileInput"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
        <button class="change-picture-button" (click)="triggerFileInput()">Zmień zdjęcie</button>
      </div>

      <span>Nazwa użytkownika</span>
      <input type="text" [value]="userName" placeholder="Nazwa użytkownika" disabled>
      <span>Adres e-mail</span>
      <input type="text" [value]="email" placeholder="Adres e-mail" disabled>
    </div>

    <div class="user-info-right">
      <h1>Obserwowani</h1>
      <div class="friends-list">
        <div *ngIf="friends.length === 0" class="no-friends">Brak obserwowanych.</div>

        <ul *ngIf="friends.length > 0">
          <li *ngFor="let friend of friends" class="friend-item">
            <img
              [src]="friend.avatar || 'assets/images/user.png'"
              class="friend-avatar"
              alt="Zdjęcie obserwowanego">
            <div class="friend-info">
              <span class="friend-nick">{{ friend.nick }}</span>
              <button class="delete-friend">Przestań obserwować</button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="search-friend">
      <div class="search-bar">
        <h1>Znajdź użytkownika</h1>

        <input
          type="text"
          placeholder="Wpisz nazwę użytkownika"
          [(ngModel)]="searchTerm"
          (input)="searchUsers()">
      </div>
      <div *ngIf="searchResults.length === 0 && searchTerm" class="no-results"><span>Brak wyników wyszukiwania.</span></div>
      <div class="search-results" *ngIf="searchResults.length > 0">
        <ul>
          <li *ngFor="let user of searchResults" class="search-item">
            <img
              [src]="user.avatar || 'assets/images/user.png'"
              class="friend-avatar">
            <div class="friend-info">
              <span class="friend-nick">{{ user.nick }}</span>
              <button (click)="addFriend(user.id)">Obserwuj</button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
