<div class="section-user">
  <div class="content">
    <div class="user-info-left">

      <h1>{{ currentLanguage === 'polish' ? 'Twój profil' : 'Your profile' }}</h1>

      <div class="profile-picture-container">
        <img
          src="assets/images/user.png"
          alt="{{ currentLanguage === 'polish' ? 'Zdjęcie profilowe' : 'Profile picture' }}"
          class="profile-picture"
        >
        <input
          type="file"
          id="fileInput"
          accept="image/*"
          (change)="onFileSelected($event)"
          hidden
        />
        <button class="change-picture-button" (click)="triggerFileInput()">
          {{ currentLanguage === 'polish' ? 'Zmień zdjęcie' : 'Change picture' }}
        </button>
      </div>

      <span>{{ currentLanguage === 'polish' ? 'Nazwa użytkownika' : 'Username' }}</span>
      <input type="text" [value]="userName" [placeholder]="currentLanguage === 'polish' ? 'Nazwa użytkownika' : 'Username'" disabled>
      <span>{{ currentLanguage === 'polish' ? 'Adres e-mail' : 'Email address' }}</span>
      <input type="text" [value]="email" [placeholder]="currentLanguage === 'polish' ? 'Adres e-mail' : 'Email address'" disabled>
    </div>

    <div class="user-info-right">
      <h1>{{ currentLanguage === 'polish' ? 'Obserwowani' : 'Following' }}</h1>
      <div class="friends-list">
        <div *ngIf="friends.length === 0" class="no-friends">
          {{ currentLanguage === 'polish' ? 'Brak obserwowanych.' : 'No friends followed.' }}
        </div>

        <ul *ngIf="friends.length > 0">
          <li *ngFor="let friend of friends" class="friend-item">
            <img
              [src]="friend.avatar || 'assets/images/user.png'"
              class="friend-avatar"
              [alt]="currentLanguage === 'polish' ? 'Zdjęcie obserwowanego' : 'Followed user picture'">
            <div class="friend-info">
              <span class="friend-nick">{{ friend.nick }}</span>
              <button class="delete-friend">
                {{ currentLanguage === 'polish' ? 'Przestań obserwować' : 'Unfollow' }}
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="search-friend">
      <div class="search-bar">
        <h1>{{ currentLanguage === 'polish' ? 'Znajdź użytkownika' : 'Find user' }}</h1>

        <input
          type="text"
          [placeholder]="currentLanguage === 'polish' ? 'Wpisz nazwę użytkownika' : 'Enter username'"
          [(ngModel)]="searchTerm"
          (input)="searchUsers()">
      </div>
      <div *ngIf="searchResults.length === 0 && searchTerm" class="no-results">
        <span>
          {{ currentLanguage === 'polish' ? 'Brak wyników wyszukiwania.' : 'No search results.' }}
        </span>
      </div>
      <div class="search-results" *ngIf="searchResults.length > 0">
        <ul>
          <li *ngFor="let user of searchResults" class="search-item">
            <img
              [src]="user.avatar || 'assets/images/user.png'"
              class="friend-avatar">
            <div class="friend-info">
              <span class="friend-nick">{{ user.nick }}</span>
              <button (click)="addFriend(user.id)">
                {{ currentLanguage === 'polish' ? 'Obserwuj' : 'Follow' }}
              </button>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
