.section-user {
  height: 100vh;
  background: url("../../../assets/images/section-one-background.png") center/cover no-repeat;
  font-family: "Oswald", sans-serif;
  padding: 0 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}
.canvas {
  width: 100%;
  height: 90vh;
  gap: .5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
}

.content {
  width: 100%;
  height: 90vh;
  background-color: rgba(46, 46, 46, 0.2);
  gap: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  overflow: hidden;
}

.content h1 {
  font-size: 3rem;
}

.draw-card {
  width: 300px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 15px;
  background: url("../../../assets/images/card-bg.png") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  transition: .1s all ease-in-out;
}

.draw-card:hover {
  box-shadow: 0 0 10px #fff;
}


.draw-card-image {
  width: 300px;
  height: 500px;
  border: 5px solid #fff;
  border-radius: 15px;
  background: url("../../../assets/film-photos/2.jpg") center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 2rem;
  transition: .2s all ease-in-out;
}

.draw-card-image:hover {
  box-shadow: 0 0 10px #fff;
}

.draw-card h3, h1, p {
  color: #fff;
}

.draw-card h1 {
  font-size: 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

.director, .production, .source, .genre, .type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.decline-button button, .accept-button button {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  font-size: 3rem;
  font-family: "Oswald", sans-serif;

}

.decline-button button {
  background-color: transparent;
  border: 2px solid red;
  transition: .2s all ease-in-out;
  color: red;
  margin-right: 2rem;
}

.decline-button button:hover {
  background-color: red;
  border: 2px solid red;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 10px red;
}

.accept-button button {
  background-color: transparent;
  border: 2px solid green;
  transition: .2s all ease-in-out;
  color: green;
  margin-left: 2rem;
}

.accept-button button:hover {
  background-color: green;
  border: 2px solid green;
  cursor: pointer;
  color: #fff;
  box-shadow: 0 0 10px green;
}
