<div class="section-one" [class.light-theme]="currentTheme === 'light'" [class.dark-theme]="currentTheme === 'dark'">
  <div class="navbar">
    <app-menu></app-menu>
  </div>
  <div class="content">
    <div class="left-text">
      <h1>Nie wiesz co obejrzeć?</h1>
      <span>Utwórz poczekalnię sam lub ze znajomymi i pozwól<br>nam dopasować film pod Twoje oczekiwania!</span>
      <button routerLink="/create-lobby" routerLinkActive="active">Utwórz poczekalnię!</button>
    </div>
    <div class="right-cards" #rightCards (mousemove)="onMouseMove($event)" (mouseleave)="onMouseLeave()">
      <img src="assets/images/cards.png" alt="Obrazek" #parallaxImage>
    </div>
    <button class="theme-toggle" (click)="toggleTheme()">
      {{ currentTheme === 'dark' ? '&#127769;' : '&#127774;' }}
    </button>
  </div>
</div>
