@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
  margin: 0;
  padding: 0;
}

.bg{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-image: url('../../../assets/images/section-one-background.png');
}

.main-container {
  padding: 1rem;
  width: 90%;
  height: 90vh;
  background-color: rgba(239, 236, 243, 0.1);
  border-radius: 15px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-family: "Oswald", sans-serif;
}

.joining-users {
  height: 570px;
  width: 30%;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #2e2e2e;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.joining-users ul {
  width: 80%;
}

.joining-users li {
  width: 100%;
  height: 3rem;
  border-radius: 7px;
  margin-left: -10px;
  background-color: #fff;
  list-style-type: none;
  color: #222222;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
  margin-top: 2px;
}

.friends-component {
  width: 100%;
  height: 650px;
  border-radius: 15px;
  background-color: rgb(34, 34, 34);
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
  padding: 15px;
  color: #fff;
}

.friends-list {
  width: 30%;
  height: 570px;
  border-radius: 15px;
  padding: 5px 10px;
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: none;
  overflow-y: auto;
}

.friends-list ul {
  margin-left: -70px;
}

.friends-list img {
  height: 85px;
  width: 85px;
  border-radius: 100px;
}
.no-friends {
  font-size: 14px;
  color: #888;
  text-align: center;
  padding: 20px;
}

.friend-item {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 10px;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.friend-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  border: 2px solid #ddd;
  object-fit: cover;
}

.friend-info {
  display: flex;
  flex-direction: column;
}

.friend-nick {
  font-weight: bold;
  font-size: 14px;
  color: #333;
  margin-bottom: 10px;
}

.friend-email {
  font-size: 12px;
  color: #777;
}
.invite-button button {
  background-color: rgb(139, 0, 0);
  padding: 0.7rem;
  border-radius: 7px;
  border: none;
  color: #ffffff;
  font-weight: 500;
  transition: 0.2s all ease-in-out;
}

.invite-button {
  margin-left: auto;
}

.invite-button button:hover {
  background-color: firebrick;
  cursor: pointer;
}

.initial-settings {
  width: 40%;
  height: 570px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: #2e2e2e;
  border: none;
  overflow-y: auto;
  color: #fff;
}

input {
  width: 95%;
  height: 2rem;
  border-radius: 7px;
  border: none;
}

.submit-buttons {
  margin-top: 2rem;
  padding-right: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.submit-buttons button {
  width: 80%;
  height: 3rem;
  background-color: rgb(139, 0, 0);
  border-radius: 25px;
  border: none;
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500;
  transition: .2s all ease-in-out;
}

.submit-buttons button:hover {
  cursor: pointer;
  background-color: firebrick;
}

.lobby-link {
  background-color: #fff;
  padding-left: 1rem;
  border-radius: 7px;
  text-wrap: nowrap;
  overflow: auto;
  color: #777777;
}

.lobby-link a {
  text-decoration: none;
}

.lobby-link::-webkit-scrollbar{
  display: none;
}

.friend-invite {
  margin-left: -10px;
  display:flex;
  flex-direction: column;
}
