<div class="navbar">
  <div class="menu-logo">
    <button><img src="assets/images/logo_white.png" alt="Logo"></button>
  </div>
  <div class="menu-buttons">
    <button routerLink="/" routerLinkActive="active">STRONA GŁÓWNA</button>
    <button routerLink="/create-lobby" routerLinkActive="active">UTWÓRZ LOBBY</button>
    <button routerLink="/random-movie" routerLinkActive="active">LOSUJ FILM</button>
    <button routerLink="/your-reviews" routerLinkActive="active">TWOJE RECENZJE</button>
    <button routerLink="/contact" routerLinkActive="active">KONTAKT</button>
    <button routerLink="/login" routerLinkActive="active">PROFIL</button>
  </div>
</div>
