<div class="navbar">
  <div class="menu-logo">
    <button><img src="assets/images/logo_white.png" alt="Logo"></button>
  </div>
  <div class="menu-buttons">
    <button routerLink="/" routerLinkActive="active">STRONA GŁÓWNA</button>
    <button routerLink="/create-lobby" routerLinkActive="active">UTWÓRZ LOBBY</button>
    <button routerLink="/library" routerLinkActive="active">BIBLIOTEKA</button>
    <button routerLink="/your-reviews" routerLinkActive="active">DODAJ FILM</button>
    <button *ngIf="!(isLoggedIn$ | async); else logoutBtn" (click)="login()" routerLink="/login" routerLinkActive="active">ZALOGUJ SIĘ</button>
    <ng-template #logoutBtn>
      <button (click)="logout()">WYLOGUJ SIĘ</button>
      <button class="user-button" routerLink="/user-profile">
        <img [src]="userPhoto || 'assets/images/user.png'" alt="Zdjęcie profilowe użytkownika">
      </button>
    </ng-template>
  </div>
</div>
