@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Teko:wght@300..700&display=swap');

.navbar {
  padding-top: 2rem;
  display: flex;
  justify-content: space-around;
}
.menu-buttons {
  display: flex;
  justify-content: space-around;
  width: 80%;
}

.navbar button {
  width: 10rem;
  height: 3rem;
  background-color: transparent;
  border: none;
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1rem;
  transition: border-color .2s ease-in-out;
  border-bottom: 1px solid transparent;
}

.navbar .menu-buttons button:hover {
  border-bottom-color: red;
  cursor: pointer;
}
.navbar .menu-logo button:hover {
  cursor: pointer;
}

.navbar button img {
  width: 50px;
  height: 50px;
}

.user-button img {
  width: 1.8rem !important;
  height: 1.8rem !important;
  filter: invert();
}
